deployment-config/Run-WindowsCustomisations/Assets/Customisations.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customisations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TargetOS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DefaultUser">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Registry">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Key" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Values">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Value" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Data">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="Type" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="Name" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Hive" use="optional"/>
                              <xs:attribute type="xs:string" name="Path" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Files">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="File">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Target">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Root"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="Action"/>
                                <xs:element name="Dest">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Root"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="ApplyToCurrentUser"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="System">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Registry">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Key" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Values">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Value">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Data">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="Type" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="Name" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Hive" use="optional"/>
                              <xs:attribute type="xs:string" name="Path" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Files">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="File">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Target"/>
                                <xs:element type="xs:string" name="Action"/>
                                <xs:element type="xs:string" name="Dest"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Min"/>
            <xs:attribute type="xs:string" name="Max"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>